*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

/* Navbar section  */

.navbar {
    height: 60px;
    /* border: 2px solid red; */
    background-color: #0f1111;
    color: white;
    justify-content:space-around;
    
}

.nav-logo {
    height: 50px;
    width: 113px;
}

.logo {
    background-image: url(images/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}

/* Box 2 */

.add-first {
    color: #cccccc;
    font-size: .85rem;
    margin-left: 15px;
}
.add-second {
    font-size: 1rem;
    margin-left: 3px;
}

/* Box 3 */

.nav-search {
    background-color: red;
    width:1000px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
}

.search-select {
    border-radius: 4px 0 0 4px;
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border: none;
}
.search-input {
    width: 100%;
    border: none;
    padding: 0 10px;
}
.search-icon {
    width: 50px;
    text-align: center;
    border: none;
    font-size: 1.3rem;
    background-color: #febd6a;
    border-radius: 0 4px 4px 0;
    color: black;
}

/* Box 4  */

.lang-set {
    height: 40px;
    /* border: pink solid; */

}

.lang-options {
    
    font-size: 1rem;
    background: none;
    border: none;
    color: white;
    font-weight: 900;
    text-align: end;
    /* border: white solid; */
}

/* Box 5  */

.signin-first {
    /* color: #cccccc; */
    font-size: .85rem;
}

.signin-second {
    font-weight: 700;
}

/* Box 6  */

.orders-first {
    font-size: .85rem;
}
.orders-second {
    font-weight: 700;
}

/* Box 7  */

.cart {
    height: 40px;
    width: 40px;
    /* background-color: red; */

}

.cart-icon {
   font-size: 2rem;
   text-align: center;
}

/* sub-navigation section */

/* Box 1  */

.sub-nav {
    /* border: #0f1111 solid; */
    height: 39px;
    padding-left: 11px;
    background-color: #222f3d;
    font-size: .9rem;
    font-weight: 400;
}

.toggle-icon {
    font-size: 1.2rem;
}

/* /////////////////////////////////// */
/* Hero section  */

.hero-section {
    background-image: url(images/hero_image.jpg);
    background-size: cover;
    height: 50vh;
    width: 100%;
}
.hero-msg {
    background-color: white;
    height: 40px;
    width: 95% ;
    font-size: 0.85rem;
    margin-bottom: 25px;
}
.hero-msg a {
    color: #007185;
    
}

/* Shop section  */
.shop-section {

    background-color: pink;
}

.box {
    /* border: 2px black solid; */
    height: 400px;
    width: 25%;
    margin: 10px;
    background-color: whitesmoke;
    padding: 20px;

}

.box img {
    height: 350px;
    width: 100%;
    margin: 5px 0;
}

.box:hover {

    transform: scale(1.1);
    transition: all .2s;
}


/* Footer  */

footer {
    margin-top: 15px;

}

.foot-panal1 {
    background-color: #37475a;
    height: 50px;
    color: white;
    font-size: 0.9rem;
}
.foot-panal2 {

    padding: 0 100px;
    background-color: #232f3e;
    height: 500px;
}
.foot-box {
    color: #ffffff;
    margin: 30px 80px;
}
.foot-panal3 {
    height: 68px;
    /* border: #007185 solid; */
    margin-top: 20px;

}


/* Utility Section  */

.border {
    border: 1.5px solid transparent;
}
.border:hover {
    border: 1.5px solid white;
}
.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.text-center {
    text-align: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;

}
.white {
    color: white;
}

.space-evenly {
    justify-content: space-evenly;
}

.m-1 {
    margin: 1rem;
}
.ml-1 {

    margin-left: 2px;
}
.no-deco {
    text-decoration: none;
}
.align-end {
    align-items: flex-end;
}
.no-bullets {
    list-style: none;
}
.foot-box li {
    padding: 2px;
}
/* Break-points section  */

@media  screen and (max-width:1500px) {
    .nav-search {

        width: 650px;

    }

}